@function Rem($now) {
  @return ($now / 75) + rem;
}
#title{
  height: Rem(80);
  background: #ebff00;
  position: relative;
  .back-btn{
    height: Rem(80);
    width: Rem(80);
    background: url("../../image/arrowl.png") no-repeat;
    background-size: 50%;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateZ(90deg);
  }
  .title-name{
    text-align: center;
    line-height: Rem(80);
    font-size: Rem(32);
    font-weight: bold;
  }
  .right-div{
    width: Rem(200);
    height: Rem(80);
    position: absolute;
    right: 0;
    top: 0;
    line-height: Rem(80);
    font-size: Rem(28);
    text-align: center;
  }
}